<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="source">
<!--    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>-->
<!--    <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>-->
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</div>
<head>
    <meta charset="UTF-8">
    <title>欢迎登录ecommerce商城</title>
    <script type="text/javascript" src="/js/userForm.js"></script>
    <script type="text/javascript" src="/js/crypto-js.min.js"></script>
    <script type="text/javascript" src="/js/SHA1.js"></script>
    <th:block th:include="common.html :: source"></th:block>
</head>
<body onkeydown="if(event.keyCode===13) document.all.log_btn.click()">



<div class="log_bg">
    <div class="top">
        <div class="logo"></div>
    </div>
    <div class="login">
        <div class="log_img"><img src="/images/l_img.png" width="611" height="425" /></div>
        <div class="log_c">
<!--            <form action="/user/login" method="post">-->
                <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="55">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">登录</span>
                            <span class="fr">还没有商城账号，<a href="/register" style="color:#ff4e00;">立即注册</a></span>
                        </td>
                    </tr>
                    <tr height="70">
                        <td>用户名</td>
                        <td><input type="text" name="loginName" id="loginName" class="l_user" required/></td>
                    </tr>
                    <tr>
                        <td align="right">
                        </td>
                        <td>
                            <span th:text="${userNameError}" style="color: red;text-align: center"></span>
                        </td>
                    </tr>
                    <tr height="70">
                        <td>密&nbsp; &nbsp; 码</td>
                        <td><input type="password" name="password" id="password" pattern="^[a-zA-Z0-9]{6,10}$" title="密码由6-10位字母和数字组成"  class="l_pwd" required/></td>
                    </tr>
                    <tr>
                        <td align="right">
                        </td>
                        <td>
                            <span th:text="${passwordError}" style="color: red;text-align: center"></span>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="button" value="登录"  onclick="loginPost()" class="log_btn" id="log_btn" /></td>
                    </tr>
                </table>
<!--                <input type="hidden" value="${flag }" name="flag"/>-->
<!--            </form>-->
        </div>
    </div>
</div>

<!--<th:block th:include="common.html :: permit"></th:block>-->

</body>
</html>