<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="source">
    <!--    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>-->
    <!--    <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>-->
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
</div>
<head>
    <meta charset="UTF-8">
    <title>交易成功</title>
    <th:block th:include="common.html :: source"></th:block>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>



</body>
</html>